<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Order succesful!</h1>
        <p class="lead">{{order.order_id}}</p>
        <hr class="my-4">
        <p>{{order.status}}</p>
        <hr />
        <div class="btn-group btn-group-sm" role="group" aria-label="Continue shopping!">
            <a href="/" class="btn btn-outline-success btn-sm">Continue shopping!</a>
        </div>
    </div>
</div>