boto3==1.9.184
botocore==1.12.184
Click==7.0
docutils==0.14
Faker==1.0.7
Flask==1.1.1
Flask-Env==2.0.0
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
python-dateutil==2.8.0
s3transfer==0.2.1
simplejson==3.16.0
six==1.12.0
text-unidecode==1.2
urllib3==1.25.3
Werkzeug==0.15.4
